@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    line-height: 1.2;
}

body {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    color: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    padding: 6rem 1rem;
    background: #fff;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
    section {
        padding: 4rem 0.5rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
    section {
        padding: 2rem 0.5rem;
    }
}

h2 {
    font-size: 1.6rem;
}

header {
    height: 100vh;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#hero {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

header div {
    position: relative;
    z-index: 3;
    margin: 0 3rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: -1px;
}

header p {
    font-size: 1.4rem;
}

#intro {
    height: 300vh;
}

