@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
    line-height: 1.2;
}

body {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    padding: 6rem 1rem;
    background: #fff;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }
    section {
        padding: 4rem 0.5rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
    section {
        padding: 2rem 0.5rem;
    }
}

h2 {
    font-size: 1.6rem;
}

header {
    height: 100vh;
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 3rem rgba(0,0,0,0.8);
}

#hero {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

header div {
    position: relative;
    z-index: 3;
    margin: 0 3rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3.2rem;
    font-weight: 900;
    letter-spacing: -1px;
}

header p {
    font-size: 1.4rem;
}

#intro {
    background-image: linear-gradient(to right bottom, #261C5C, #8566FF);
    color: #fff;
}

#intro div {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 800px) {
    #intro div {
        flex-direction: column;   
    }
}

#intro svg {
    display: block;
    width: 8rem;
    height: auto;
    margin: 1.5rem;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2;
}

#intro p {
    font-size: 3rem;
    font-weight: 800;
    margin: 0.5rem;
    text-shadow: 0 0 16px rgba(0,0,0,0.5);
}

.button {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    padding: 1.6rem 2.2rem;
    margin: 1.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

#icon-kick circle:last-child {
    animation-name: pulse;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes pulse {
    10% {
        r: 0;
    }
    100% {
        r: 30;
    }
}

#icon-knob line  {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#icon-equalizer line {
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    transform-origin: center bottom;
    transform-box: fill-box;
}
#icon-equalizer line:nth-of-type(1) {
    animation-name: eq-a;
    animation-duration: 400ms;
}
#icon-equalizer line:nth-of-type(2) {
    animation-name: eq-b;
    animation-duration: 800ms;
}
#icon-equalizer line:nth-of-type(3) {
    animation-name: eq-c;
    animation-duration: 700ms;
}
#icon-equalizer line:nth-of-type(4) {
    animation-name: eq-d;
    animation-duration: 800ms;
}
#icon-equalizer line:nth-of-type(5) {
    animation-name: eq-e;
    animation-duration: 300ms;
}
@keyframes eq-a {
    0%   { transform: scale(1, 0.5); }
    50%  { transform: scale(1, 0.8); }
    100% { transform: scale(1, 0.3); }
}
@keyframes eq-b {
    0%   { transform: scale(1, 1);   }
    50%  { transform: scale(1, 1.1); }
    100% { transform: scale(1, 0.7); }
}
@keyframes eq-c {
    0%   { transform: scale(1, 1);   }
    50%  { transform: scale(1, 1.4); }
    100% { transform: scale(1, 0.6); }
}
@keyframes eq-d {
    0%   { transform: scale(1, 1);   }
    50%  { transform: scale(1, 1.8); }
    100% { transform: scale(1, 0.8); }
}
@keyframes eq-e {
    0%   { transform: scale(1, 1);   }
    50%  { transform: scale(1, 1.2); }
    100% { transform: scale(1, 0.7); }
}


